@import 'tailwindcss';
@import '@fontsource/inter';

:root {
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	--text-color: rgba(255, 255, 255, 0.87);
	--bg-color: #242424;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
		--text-color: #213547;
		--bg-color: #ffffff;
	}
}
